* {
  box-sizing: border-box;
  font-family: 'McLaren';
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #E40000;
  height: 70px;
  text-align: center;
  width: auto;
}

.nav-button {
  height: 70px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 70px;
}

h1 {
  color: white;
  padding-top: 1%;
}

main {
  background: no-repeat center/100% url(./images/mario_luigi_background.jpg);
  background-color: black;
  height: 100vh;
}

button {
  background-color: #1CAB00;
  border: 3px solid #FFFF00;
  color: white;
  cursor: pointer;
  font-weight: bolder;
}

button:hover {
  background-color: #27CC08;
  transform: scale(.98);
  transition: transform .5s;
}

.player-inputs {
  display: flex;
  justify-content: space-around;
}

.player-1-container,
.player-2-container {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

input {
  border: 4px solid #FFFF00;
  border-radius: 30px;
  font-size: 140%;
  height: 50px;
  padding-left: 20px;
  width: 300px;
}

.play-game-button,
.start-new-game-button {
  border-radius: 30px;
  font-size: 120%;
  height: 60px;
  margin-top: 29%;
  text-transform: uppercase;
  width: 50%;
}

.start-new-game-button {
  background-color: #1CAB00;
  border: 3px solid yellow;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  height: 100px;
  width: 100%;
}

.play-game-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

label {
  color: white;
  font-family: Arial Black;
  font-size: 130%
}

.rules-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.welcome-players-text,
.p1-error-message,
.game-rules {
  background-color: rgba(255, 255, 0, 0.9);
  font-size: 125%;
  text-align: center;
  width: 70%;
}

.welcome-players-text {
  font-size: 150%;
  margin-top: 5%;
  text-transform: capitalize;
}

.play-game-button2 {
  border-radius: 30px;
  font-size: 120%;
  height: 60px;
  margin-top: 3%;
  text-transform: uppercase;
  width: 50%;
}

.name-heading,
.matches-heading,
.high-score-heading {
  border-bottom: 2px solid black;
  font-size: 120%;
  padding-top: 6%;
  padding-bottom: 6%;
  text-align: center;
}

.p1-name {
  font-size: 150%;
  font-weight: bold;
  text-transform: capitalize;
}

.p1-score {
  font-size: 500%;
  font-weight: bold;
}

section {
  display: grid;
  grid-template-columns: 18% 64% 18%;
}

.p1-game-board,
.p2-game-board {
  background-color: rgba(255, 255, 0, 0.9);
  height: 100vh;
  padding: 6%;
}

.winner-message-l1,
.winner-message-l2 {
  background-color: rgba(255, 255, 0, 0.9);
  font-size: 300%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 30%;
  width: 100%;
  z-index: 2;
}

.winner-message-l2 {
  top: 42%;
  font-size: 180%;
}

.card-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". one . two . three ."
    "four . five . six . seven"
    ". eight . nine . ten .";
  padding: 6%;
  perspective: 1000px;
}

.grid0 {
  grid-area: one;
}

.grid1 {
  grid-area: two;
}

.grid2 {
  grid-area: three;
}

.grid3 {
  grid-area: four;
}

.grid4 {
  grid-area: five;
}

.grid5 {
  grid-area: six;
}

.grid6 {
  grid-area: seven;
}

.grid7 {
  grid-area: eight;
}

.grid8 {
  grid-area: nine;
}

.grid9 {
  grid-area: ten;
}

.p1-error-message {
  left: 0%;
  text-transform: uppercase;
  top: 30%;
  position: absolute;
  width: 100%;
}

.up-case {
  text-transform: uppercase;
}

.card {
  animation: fade-in 2s 1;
  height: 100%;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  width: 100%;
}

.card:hover {
  cursor: pointer;
}

.card:active {
  transform: scale(.95);
  transition: transform .2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.card-face,
.card-back {
  backface-visibility: hidden;
  border-radius: 25px;
  height: 150px;
  padding: 5px;
  position: absolute;
  width: 120px;
}

.card-face {
  transform: rotateY(180deg);
}

.hidden {
  display: none;
}

@keyframes fade-in {
  0%{
    opacity: 0;
    filter: blur(10px);
  }
  100%{
    opacity: 1;
    filter: blur(0px);
  }
}
